
  html{

  background: linear-gradient(to right, hsl(224, 60%, 49%), hsl(9, 73%, 51%));
  height: 100%;
  width: 100%;
} 

html::before { 
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    hsl(108, 61%, 28%),
    hsl(303, 82%, 34%)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
html:hover::before {
  opacity: 1;
}  

#rectangle{
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 45px;
  color: gray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#Text{
  margin: 4%;
  font-weight: 500;
}

.remainAndSetting *{
padding-left: 10px;
padding-right: 10px;
margin-left: 10px;
margin-right: 10px;
}

#remainSymbool{
padding-top: 7%;
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
@media (min-height: 767px){
#rectangle {
  width: 95%;
  height: 50%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.8vw;

}
#inputForMobile{
  width: 95vw;
  height: 50%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
}
.remainAndSetting{
  display: flex;
  white-space: nowrap;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: absolute;
  top: 59%;
  left: 45%;
  transform: translateX(-50%);
  font-size: 300%;
  font-weight: 500;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.81);
} 
.remain {
  display: none;
} 
.remainMobile{
  display: flex;
  padding-left: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  color: rgba(255, 255, 255, 0.71);
  font-weight: 700;
  font-size: 190%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

#remainTimeMobile{
  position: absolute;
  left: 3%;
}

#remainSymboolMobile{
  position: absolute;
  right: 3%;
}

#divided{
  display: none;
}
.setting * {
  padding-bottom:2px;
}

.difficulty{
  display: flex;
  white-space: nowrap;
}

#difficultyValues{
  display: flex;
  padding-left: 3%;
  padding-right: 0%;
}

#difficultyValues p {
  margin-right: 0%;
}
#difficultyValues1 {
  margin: 0%;
  margin-left: 0%;
}
#difficultyValues2 {
  margin: 0%;
  margin-left: 40%;
}
#difficultyValues3 {
  margin: 0%;
  margin-left: 40%;
}

.NumberOfSymbol{
  display: flex;
}

#NumberOfSymbolValues{
  display: flex;
  padding-left: 10%;
  padding-right: 0%;
}

#NumberOfSymbolValues p {
  margin: 0%;
  margin-left: 0px;
}

.laguage{
  display: flex;
}

#laguageValues{
  display: flex;
  padding-left: 31%;
  padding-right: 0%;
}

#laguageValues p {
  margin-right: 0%;
}
#laguageValuesRu {
  margin: 0%;
  margin-left: 0%;
}
#laguageValuesEn {
  margin: 0%;
  margin-left: 40%;
}

.time{
  display: flex;
}

#timeValues{
  display: flex;
  padding-left: 24%;
  padding-right: 0%;
}

#timeValues p {
  margin-right: 0%;
}
#timeValues30 {
  margin: 0%;
  margin-left: 0%;
}
#timeValues60 {
  margin: 0%;
  margin-left: 15%;
}
#timeValues90 {
  margin: 0%;
  margin-left: 15%;
}
}
/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */
@media (max-height: 767px){
#rectangle {
  width: 60%;
  height: 55%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6vw;
}

#inputForMobile{
  display: none;
}

.remainAndSetting{
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 150%;
  font-weight: 500;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.71);
}
.remain{
  padding-top: 3%;
  margin: 0%;
}
.remainMobile{
  display: none;
}
#divided{
  height: 155px;
  width: 5px;
  background-color: rgba(255, 255, 255, 0.45);
  padding: 0;
  border-radius: 15px;
  margin: 0%;
}
.setting * {
  padding-bottom: 2px;
  
}

.difficulty{
  display: flex;
  white-space: nowrap;
}

#difficultyValues{
  display: flex;
  padding-left: 0px;
}

#difficultyValues p {
  margin: 0%;
  margin-left: 18px;
}

.NumberOfSymbol{
  display: flex;
}

#NumberOfSymbolValues{
  display: flex;
  padding-left: 35px;
}

#NumberOfSymbolValues p {
  margin: 0%;
  margin-left: 0px;
}

.laguage{
  display: flex;
}

#laguageValues{
  display: flex;
  padding-left: 75px;
}

#laguageValues p {
  margin: 0%;
  margin-left: 10px;
}

.time{
  display: flex;
}

#timeValues{
  display: flex;
  padding-left: 69px;
}

#timeValues p {
  margin: 0%;
  margin-left: 0px;
}
}
@media (max-height: 767px){

  .section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 310px;
    width: 200px;
    /* margin: 50px 50px; */
    overflow: auto;
    position: absolute;
    top: 29%;
    transform: translateY(-50%);
    margin-left: 0%;
    }
    .section_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 150px;
    height: 200px;
    font-size: 1.59dvw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    text-align: center;
    border-radius: 10px; /* добавляем закругление углов */
    margin-right: 20px; /* добавляем отступ справа */
    margin-bottom: 10px;
    /* position: sticky;
    top: 0%; */
  }


}
@media (min-height: 767px){
  .section{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-58%);
    display: flex;
    flex-direction: row; /* Горизонтальная прокрутка */
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    overflow-y: hidden; /* Отключаем вертикальную прокрутку */
    height: 280px;
    width: 107%;
    margin: 0px 50px;
    /* overflow: auto; */
  }
  .section_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 400px;
    height: 250px;
    font-size: 50px;
    border-radius: 20px; /* добавляем закругление углов */
    margin-right: 10px; /* добавляем отступ справа */
    margin-left: 10px;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    text-align: center;
    /* position: sticky;
    left: 0%; */
  }
  .item8 {
    margin-right: 4%;

  }
  .item1 {
    margin-left: 10%;
  }
}

.item1 {
 background-color: rgba(221, 160, 221, 0.65);
 background-color: rgba(255, 255, 255, 0.25);
 
}

.item2 {
background-color: rgba(255, 250, 205, 0.65);
background-color: rgba(255, 255, 255, 0.25);

}

.item3 {
background-color: rgba(176, 224, 230, 0.65);
background-color: rgba(255, 255, 255, 0.25);

}

.item4 {
background-color: rgba(240, 128, 128, 0.65);
background-color: rgba(255, 255, 255, 0.25);

}

.item5 {
background-color: rgba(255, 192, 203, 0.65);
background-color: rgba(255, 255, 255, 0.25);

}

.item6 {
background-color: rgba(152, 251, 152, 0.65);
background-color: rgba(255, 255, 255, 0.25);

}

.item7 {
background-color: rgba(255, 250, 205, 0.65);
background-color: rgba(255, 255, 255, 0.25);

}

.item8 {
background-color: rgba(114, 172, 226, 0.65);
background-color: rgba(255, 255, 255, 0.25);


}

.section::-webkit-scrollbar {
width: 0.5em; /* Ширина скроллбара */
background-color: transparent; /* Цвет фона скроллбара */
}

.section::-webkit-scrollbar-thumb {
background-color: transparent; /* Цвет ползунка скроллбара */
}
