:root {
  --primary-opacity: 0;
}

body{
  background: linear-gradient(to right, hsl(224, 72%, 30%), hsl(9, 76%, 36%));
  height: 100%;
} 

body::before { 
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    hsl(10, 71%, 16%),
    hsl(225, 76%, 15%)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: var(--primary-opacity);
}

#rectangle{
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 45px;
  color: rgba(14, 14, 14, 0.85);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition: 1s;
}

#Text{
  margin: 4%;
  font-weight: 500;
}

.remainAndSetting *{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.81);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#remainSymbool{
  padding-top: 7%;
}


.section_item{
  background-color: rgba(255, 255, 255, 0.15);
}

.section::-webkit-scrollbar {
  width: 0.5em; /* Ширина скроллбара */
  background-color: transparent; /* Цвет фона скроллбара */
}

.section::-webkit-scrollbar-thumb {
  background-color: transparent; /* Цвет ползунка скроллбара */
}
/* Toggle switch for apperance */
.container {
  max-width: 1200px;
  padding: 0 0px;
  margin: 0 auto;
  position: absolute;
  right: 5%;
}

.checkbox {
  display: block;
}

.checkbox__inp {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}

.checkbox__inner {
  display: block;
  position: relative;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: bold;
  color: rgb(171, 171, 171);
}

.checkbox__inner:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  transition: background-color .3s;
}

.checkbox__inner::after {
  display: block;
  content: "";
  position: absolute;
  background-color: rgb(14, 14, 14);
  left: 3px;
  transition: background-color .3s, left .3s;
}

.checkbox__inp:checked+.checkbox__inner::before {
  background-color: rgb(14, 14, 14);
}

.checkbox__inp:checked+.checkbox__inner::after {
  background-color: white;
}


@media only screen and (max-width: 600px) {
  /* стили для телефонов и планшетов */
}

@media only screen and (min-width: 301px) and (max-width: 1023px)  { /* MOBILE */
  #rectangle {
    width: 95%;
    height: 30%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.8vw;
  }
  #inputForMobile{
    width: 95vw;
    height: 30%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  .remainAndSetting{
    display: block;
    white-space: nowrap;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 300%;
    font-weight: 400;
    flex-direction: column;
  } 
  table{
    text-align: left;
    padding-bottom: 100px;
  }
  
  .tableremain{
    font-size: 70%;
    table-layout: auto;
  }
  .tableremain tr{
    display: inline-block;
  }
  #remainSymbool{
    padding: 0;
  }
  #table *{
    padding-left: 70px;
    padding-bottom: 30px;
  }
  
  td {
    font-weight: 700;
  } 
  
  #divided{
    display: none;
  }
  .checkbox__inner {
    font-size: 30px;
    padding-left: 104px;
  }
  .checkbox__inner:before {
    width: 90px;
    height: 54px;
    border-radius: 27px;
  }
  .checkbox__inner::after {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    top: 4.5px;
  }
  .checkbox__inp:checked+.checkbox__inner::after {
    left: 36px;
  }
  .section{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-58%);
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    height: 280px;
    width: 107%;
    margin: 0px 50px;
  }
  .section_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 400px;
    height: 250px;
    font-size: 50px;
    border-radius: 20px;
    margin-right: 10px; 
    margin-left: 10px;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    text-align: center;
    transition: 1s;
  }
  .item8 {
    margin-right: 4%;

  }
  .item1 {
    margin-left: 10%;
  }
}

@media only screen and (min-width: 1024px)  {  /* DESKTOP */
  #rectangle {
    width: 60%;
    height: 55%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6vw;
  }
  
  #inputForMobile{
    display: none;
  }
  
  .remainAndSetting{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 150%;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .remainMobile{
    display: none;
  }
  #divided{
    height: 155px;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.45);
    padding: 0;
    border-radius: 15px;
    margin: 0%;
  }
  .checkbox__inner {
    font-size: 20px;
    padding-left: 74px;
  }
  .checkbox__inner:before {
    width: 60px;
    height: 36px;
    border-radius: 18px;
  }
  .checkbox__inner::after {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 3px;
  }
  .checkbox__inp:checked+.checkbox__inner::after {
    left: 27px;
  }
  .section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 510px;
    width: 200px;
    overflow: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0%;
    }
    .section_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 150px;
    height: 200px;
    font-size: 1.59vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    transition: 1s;
  }
}
