html {
    background: linear-gradient(to bottom, #6480e1, #de463c);
    height: 100%;
}

#rectangle{
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 45px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#Text{
    padding: 7%;
}

@media (min-height: 768px){
  #rectangle {
    width: 95%;
    height: 50%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 230%;

  }
}

@media (max-height: 767px){
  #rectangle {
    width: 55%;
    height: 50%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 120%;
    }
}
